@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background: #e1dce8;
background: linear-gradient(90deg, rgba(225, 220, 232, 1) 0%, rgba(153, 203, 207, 1) 50%, rgba(203, 242, 242, 1) 100%);
}